body
{
    background-color: #222222;
    color: lightgray;
}

header
{
    width: 1400px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1
{
    font-size: 38px;
}

input
{
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}

article
{
    font-size: 28px;
}

#head-info
{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#teeth-big
{
    width: 1400px;
    min-height: 280px;
    background-color: #333333;
    border-radius: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

#bottom-content {
    width: 1400px;
    min-height: 500px;
/*    background-color: #333333;*/
/*    border-radius: 10px;*/
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

#left-content {
    width: 740px;
    min-height: 490px;
    float: left;
    background-color: #333333;
    border-radius: 10px;
}

#right-content {
    width: 655px;
    height: 490px;
    margin-left: 5px;
    float: left;
    background-color: #333333;
    border-radius: 10px;
}

#teeth-small
{
    width: 730px;
    min-height: 280px;
    margin: 5px;
    background-color: #444444;
    border-radius: 10px;
}

#toolbox {
    width: 645px;
    height: 200px;
    margin: 5px;
    background-color: #444444;
    border-radius: 10px;
    
}
